[submodule "contrib/chelpers"]
	path = contrib/chelpers
	url = git@github.com:alexryndin/chelpers.git
[submodule "contrib/bstring"]
	path = contrib/bstring
	url = https://github.com/msteinert/bstring
[submodule "contrib/cJSON"]
	path = contrib/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "contrib/json-parser"]
	path = contrib/json-parser
	url = https://github.com/json-parser/json-parser
