[submodule "contrib/chelpers"]
	path = contrib/chelpers
	url = https://github.com/alexryndin/chelpers.git
[submodule "contrib/bstring"]
	path = contrib/bstring
	url = https://github.com/msteinert/bstring
[submodule "contrib/json-parser"]
	path = contrib/json-parser
	url = https://github.com/json-parser/json-parser
[submodule "contrib/json-builder"]
	path = contrib/json-builder
	url = https://github.com/json-parser/json-builder
[submodule "contrib/md4c"]
	path = contrib/md4c
	url = https://github.com/mity/md4c.git
