{{define "index"}}
{{template "header" .}}
<body>
  {{template "menu" .}}
  <div class="main">
    <form id="search" accept-charset="UTF-8" action="/command" enctype="text/plain" method="post">
    {{ if ne .msg "" }}
      <div>
        {{.msg}}
      </div>
    {{end}}
      <input name="command" id="search-input" placeholder="command">
      <input type="hidden" name="path" value="/">
    </form>
    <ul>
      <p class="list-item">
        {{range .snippets}}
          {{ if eq .Type "d" }}
            <a rel="noopener noreferrer" class="list-item" href="/root/{{.Title}}">📁: {{.ID}} <span class="muted">[</span><span class="identifier">{{.Title}}</span><span class="muted">]</span> </a><br>
          {{else}}
            <a rel="noopener noreferrer" class="list-item" href="/snippet/{{.ID}}">ID: {{.ID}} <span class="muted">[</span><span class="identifier">{{.Title}}</span><span class="muted">]</span> {{.Content}}</a><br>
          {{end}}
        {{end}}
      </p>
    </ul>
  </div>
</body>
</html>
{{end}}

